<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/"><img src="/images/Logo_PENS.png" alt="Logo Pens" height="40"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/produk">Produk</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/kategori">Kategori</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
